Repository msobiecki/react-marauders-path: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest --run --findRelatedTests

feat: update hooks
  .lintstagedrc
Due: none

chore(release): v1.20.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4c4e0eae10ed7cfb0db867bec21092a6379b96cf
Due: none

feat: update hooks
  README.md
Due: prettier --write

Notes added by 'git notes add'
  b61429811324d8bd5615fea0080a8530e03fd2a8
Due: none

chore(release): v1.21.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ea8dfa13577a75101120d20720ae1e9dcf1e3533
Due: none

chore(release): v1.22.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: remove once reference
  src/use-drag/use-drag.ts
  src/use-key/event-guards.test.ts
  src/use-key/event-guards.ts
  src/use-key/use-key.ts
  src/use-swipe/use-swipe.ts
  src/use-wheel/event-guards.test.ts
  src/use-wheel/event-guards.ts
  src/use-wheel/use-wheel.ts
Due: eslint --fix, vitest --run --findRelatedTests

Notes added by 'git notes add'
  b8243bada8fa21b3d990a48e70f0101758b2b7e5
Due: none

chore(release): v1.23.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement usePinch
  README.md
  examples/cube-the-game/src/engine/camera.ts
  examples/cube-the-game/src/game/Game.tsx
  src/index.ts
  src/use-pinch/index.ts
  src/use-pinch/invoke-pinch-action.test.ts
  src/use-pinch/invoke-pinch-action.ts
  src/use-pinch/use-pinch.test.ts
  src/use-pinch/use-pinch.ts
  src/use-pinch/use-pinch.types.ts
  src/use-swipe/use-swipe.ts
Due: prettier --write, eslint --fix, vitest --run --findRelatedTests

feat: implement usePinch
  examples/cube-the-game/src/game/Game.tsx
Due: none

chore(release): v1.24.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  468d528bcc2c748613f66ab68b1b90f9123d213a
Due: none

fix: release publish
  .github/workflows/release-publish.yml
Due: prettier --write

chore(release): v1.24.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  41f6a3bb01a4998dcda5c08e785743e9e336abcc
Due: none

fix: release publish
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix, vitest --run --findRelatedTests

fix: release publish
  examples/cube-the-game/src/game/Game.tsx
Due: none

chore(release): v1.24.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b9ccc4c5b751c820dc4d2449267eb6cfd0a0dec2
Due: none

fix: release publish
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a2fa63e53296453def01657177158d8b8044c2c7
Due: none

chore(release): v1.24.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement useTap, usePress and useDoubleTap
  README.md
  src/use-double-tap/invoke-double-tap-action.test.ts
  src/use-double-tap/invoke-double-tap-action.ts
  src/use-double-tap/use-double-tap.test.ts
  src/use-double-tap/use-double-tap.ts
  src/use-double-tap/use-double-tap.types.ts
  src/use-drag/use-drag.ts
  src/use-key/sequence-state.test.ts
  src/use-key/use-key.test.ts
  src/use-key/use-key.ts
  src/use-pinch/use-pinch.test.ts
  src/use-pinch/use-pinch.ts
  src/use-press/invoke-press-action.test.ts
  src/use-press/invoke-press-action.ts
  src/use-press/use-press.test.ts
  src/use-press/use-press.ts
  src/use-press/use-press.types.ts
  src/use-swipe/use-swipe.test.ts
  src/use-swipe/use-swipe.ts
  src/use-tap/invoke-tap-action.test.ts
  src/use-tap/invoke-tap-action.ts
  src/use-tap/use-tap.test.ts
  src/use-tap/use-tap.ts
  src/use-tap/use-tap.types.ts
  src/use-wheel/use-wheel.test.ts
  src/use-wheel/use-wheel.ts
Due: prettier --write, eslint --fix, vitest --run --findRelatedTests

feat: implement useTap, usePress and useDoubleTap
  src/index.ts
  src/use-double-tap/index.ts
  src/use-press/index.ts
  src/use-tap/index.ts
Due: eslint --fix, vitest --run --findRelatedTests

chore(release): v1.25.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  95ae4cc1c05a3800164a3cf7bc5522f0c052489e
Due: none

feat: implement useTap, usePress and useDoubleTapreadme
  README.md
Due: prettier --write

Notes added by 'git notes add'
  ff082e05ce19ed9f21abd6c41cf303a7557c1382
Due: none

chore(release): v1.26.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement useTap, usePress and useDoubleTapreadme
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7e54153a5f3f41828d2fb70cee84569cba68ba1d
Due: none

chore(release): v1.27.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement useGesture hook
  README.md
  src/index.ts
  src/use-gesture/index.ts
  src/use-gesture/use-gesture.test.ts
  src/use-gesture/use-gesture.ts
  src/use-gesture/use-gesture.types.ts
Due: prettier --write, eslint --fix, vitest --run --findRelatedTests

chore(release): v1.28.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3de5333822ca1bd561329dd06662916a12016396
Due: none

feat: implement useGesture hook
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{yml,json,md}
  eslint --fix: any of: **/*.ts
  vitest --run --findRelatedTests: any of: **/*.ts
