Repository msobiecki/react-marauders-path: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest --run --findRelatedTests

.lintstagedrc:

{
  "**/*.{yml,json,md}": [
    "prettier --write"
  ],
  "**/*.ts": [
    "eslint --fix",
    "vitest --run --findRelatedTests"
  ]
}

chore(release): v1.29.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c184cb6002cf8a0131e5861d0e19fcf57a01f3f8
Due: none

feat: implement usePointer hook
  src/index.ts
  src/use-double-tap/event-guards.test.ts
  src/use-double-tap/event-guards.ts
  src/use-double-tap/use-double-tap.ts
  src/use-drag/event-guards.test.ts
  src/use-drag/event-guards.ts
  src/use-drag/use-drag.ts
  src/use-key/event-guards.test.ts
  src/use-key/event-guards.ts
  src/use-key/use-key.ts
  src/use-pinch/event-guards.test.ts
  src/use-pinch/event-guards.ts
  src/use-pinch/use-pinch.ts
  src/use-pointer/event-guards.test.ts
  src/use-pointer/event-guards.ts
  src/use-pointer/index.ts
  src/use-pointer/invoke-pointer-action.test.ts
  src/use-pointer/invoke-pointer-action.ts
  src/use-pointer/use-pointer.ts
  src/use-pointer/use-pointer.types.ts
  src/use-press/event-guards.test.ts
  src/use-press/event-guards.ts
  src/use-press/use-press.ts
  src/use-swipe/event-guards.test.ts
  src/use-swipe/event-guards.ts
  src/use-swipe/use-swipe.ts
  src/use-tap/event-guards.test.ts
  src/use-tap/event-guards.ts
  src/use-tap/use-tap.ts
  src/use-wheel/use-wheel.ts
  src/use-wheel/use-wheel.types.ts
Due: eslint --fix, vitest --run --findRelatedTests

feat: implement useMouse hook
  src/index.ts
  src/use-double-tap/event-guards.test.ts
  src/use-drag/event-guards.test.ts
  src/use-drag/use-drag.types.ts
  src/use-gesture/use-gesture.test.ts
  src/use-key/use-key.types.ts
  src/use-mouse/index.ts
  src/use-mouse/use-mouse.test.ts
  src/use-mouse/use-mouse.ts
  src/use-mouse/use-mouse.types.ts
  src/use-pinch/event-guards.test.ts
  src/use-pinch/use-pinch.types.ts
  src/use-pointer/event-guards.test.ts
  src/use-pointer/use-pointer.test.ts
  src/use-press/event-guards.test.ts
  src/use-swipe/event-guards.test.ts
  src/use-swipe/use-swipe.types.ts
  src/use-tap/event-guards.test.ts
  src/use-wheel/use-wheel.types.ts
Due: eslint --fix, vitest --run --findRelatedTests

feat: implement useMouse hook
  README.md
  src/use-mouse/use-mouse.test.ts
  src/use-mouse/use-mouse.ts
  src/use-mouse/use-mouse.types.ts
Due: prettier --write, eslint --fix, vitest --run --findRelatedTests

Notes added by 'git notes add'
  6e5136d4635336a6352ac02213da29eb30c3038d
Due: none

chore(release): v1.30.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement useMouse hook
  README.md
Due: prettier --write

chore(release): v1.31.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  20dd2f94b111ea858de204343f93544cb8ef17ff
Due: none

feat: update readme
  README.md
  src/use-pointer/use-pointer.ts
Due: prettier --write, eslint --fix, vitest --run --findRelatedTests

chore(release): v1.32.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  419d62484e6f4fd862a7b1164f4bb64a3d00317d
Due: none

feat: update deps tree
  package-lock.json
  package.json
Due: prettier --write

feat: update deps tree
  package-lock.json
Due: prettier --write

chore(release): v1.33.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ae6add209e8733bd86152ce7377a0e57922d4589
Due: none

feat: clean config
  examples/cube-the-game/.gitignore
  examples/cube-the-game/vite.config.ts
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, vitest --run --findRelatedTests

feat: clean config
  vite.config.ts
Due: eslint --fix, vitest --run --findRelatedTests

chore(release): v1.34.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6035ef8eeb2bb2e990e03a34e68b28905e1caef3
Due: none

chore(release): v1.35.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5113740157bc6333789f30e60295b5a8cea6a00b
Due: none

feat: update eslint
  package-lock.json
  package.json
Due: prettier --write

chore(release): v1.36.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2f4812979b54cb518698629f342115650ca59916
Due: none

feat: update github actions
  .github/workflows/pull-request-check.yml
Due: prettier --write

chore(release): v1.37.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  70df81a6e557cafdb38a0c7aca1eb8c3744f760d
Due: none

feat: update vitest plugin
  .github/workflows/pull-request-check.yml
  .github/workflows/release-publish.yml
  eslint.config.js
  package-lock.json
  package.json
  src/use-key/parse-key-sequences.test.ts
Due: prettier --write, eslint --fix, vitest --run --findRelatedTests

chore(release): v1.38.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): v1.38.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  d2016f8e59c409cc5580b2354c52eeb78e44e0bd
Due: none
